services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: booking_app
    env_file:
      - ../.env
    depends_on:
      - postgres
    working_dir: /usr/src/app
    ports:
      - "${APP_PORT}:3000"
      - "${STUDIO_PORT}:5555"
    volumes:
      - ../:/usr/src/app
    command: sh docker/entrypoint.sh

  postgres:
    image: postgres:16
    container_name: booking_postgres
    env_file:
      - ../.env
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - docker_pgdata:/var/lib/postgresql/data

  prometheus:
    image: prom/prometheus
    container_name: booking_prometheus
    restart: unless-stopped
    volumes: 
      - ../monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - app

  grafana:
    image: grafana/grafana
    container_name: booking_grafana
    restart: unless-stopped
    ports: 
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

  test:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: booking_test
    env_file:
      - ../.env
    depends_on:
      - postgres
    working_dir: /usr/src/app
    command: yarn test:e2e

volumes:
  docker_pgdata:
